{% extends "layout.html" %}
{% block content %}

<div class="marts">
<div class="mediate">
    <center> 
          <h1 style = "color: papayawhip;
          padding: 30px;
          font-family: times new roman, serif;
          font-weight: bold;
          font-size: 2.7rem;">Meditation will give you a glimpse, a little taste, that the truth is inside you!</h1><br>
    </center>

    <div class="hero-container">
		<div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=inpok4MKVLM"><img src="https://st3.depositphotos.com/5927262/15939/v/450/depositphotos_159392692-stock-illustration-yoga-lotus-position-silhouette-vector.jpg" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">5-Minute Meditation You Can Do Anywhere</h4>
					<p class="ticket-slogan">
In just 5 minutes you can reset your day in a positive way
					</p>
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=inpok4MKVLM">Link</a></button>
				</div>
			</div>
		</div>

		<div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=O-6f5wQXSu8"><img src="https://th.bing.com/th/id/R.5e925ed5dcd2f5e5a45a7fcfa6d60030?rik=JTbLsBkktcIzhA&riu=http%3a%2f%2fwww.decalserpent.com%2fassets%2fimages%2fdecals+1001-1500%2fSP-01084-black.jpg&ehk=JZnmD%2fo%2fBybgMK%2bzEpigrU9HIvI8Ss4vTuseVim6%2fYc%3d&risl=&pid=ImgRaw&r=0" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">10-Minute Meditation For Beginners</h4>
					<p class="ticket-slogan"> Feel better, be better, and do better.</p>
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=O-6f5wQXSu8">Link</button></a>
				</div>
			</div>
		</div>

        <div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=j734gLbQFbU"><img src="https://th.bing.com/th/id/OIP.0TcWWhbApPCdy_7L_YTHxQHaHa?pid=ImgDet&w=550&h=550&rs=1" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">5 Minute Guided Morning Meditation for Positive Energy</h4>
                    <p class="ticket-slogan">Refreshing your energy with visualization and positive affirmations</p>
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=j734gLbQFbU">Link</button></a>
				</div>
			</div>
		</div>

        <div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=sTANio_2E0Q"><img src="https://th.bing.com/th/id/OIP.1jcRAiYf0hSVRsx_nV75kwHaHa?pid=ImgDet&w=800&h=800&rs=1" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">
                        20 min Full Body yoga for stress relief</h4>
					<p class="ticket-slogan">
                        De-stress with this 20 minute calming yoga routine</p>
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=sTANio_2E0Q">Link</button></a>
				</div>
			</div>
		</div>

        <div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=M6dCovaOono"><img src="https://images.cdn2.stockunlimited.net/preview1300/silhouette-of-a-woman-practicing-yoga_1253960.jpg" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">Positive Energy 10 minute Guided Meditation</h4>
                    <p class="ticket-slogan">
                        Allow yourself to flow with your breath, inviting a luminous white source energy</p>
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=M6dCovaOono">Link</button></a>
				</div>
			</div>
		</div>

        
	</div>
    
</div>
</div>

    {% endblock content %}
